body {
  background-color: burlywood;
  font-family: 'Courier New', Courier, monospace;
  margin: 15px auto;
  width: 600px;
}

.card {
  background-color: rgb(251, 168, 60, 0.4);
  border: 2px solid black;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px;
}

h1 {
  background-color: rgb(155, 122, 79,0.3);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border: 5px dotted brown;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 8px;
}

h2 {
  border: solid brown;
  background-color: rgb(222, 166, 92,0.5);
  width: 30%;
  border-radius: 10px;
  padding: 8px;
  margin: 18px 10px;
}

p {
  margin: 10px 18px;
}

ul {
  color: brown;
}

li {
  margin: 5px 10px;
}

li a{
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 20px 8px;
}

img {
  height: auto;
  width: 500px;
  padding: 0;
  margin: 5px auto;
  border-radius: 15px;
  display: block;
}